<html>
  <body>
      <div>
            <app-header></app-header> 
            <a type="button" routerLink="home">Home</a>
      </div>
      <div>
            <app-side-menu></app-side-menu>
      </div>

      <div class="newRow">
          <h3 class="header-doctor">Welcome Dr. {{docLName}}</h3>
          <li class="col-md-8"><button (click)="logout()" type="button"  class="btn btn-md btn-success login-button">Logout</button>
      </div>
      <div>
        <a routerLink="help&support" >
          help&support
        </a>
      </div>
      <DIV>
        <a routerLink="test" >
          open test component
        </a>
      </DIV>
      <!-- <test-dash></test-dash> -->
      <!-- <app-footer></app-footer> -->
      <!-- <app-default-footer ></app-default-footer> -->
      <app-footer></app-footer>
  </body>
</html>