html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
   height:100%;
   position: relative;
   min-height: 100%;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.0rem;
  font-weight: 300;
  color: #666;  
  margin: 0;
  position: relative;
  opacity: 1;
  background-position: 0% 0%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color:#f8f8f8;
}

a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}

/*
@-webkit-keyframes borderBlink {
  0%   { border: 2px solid rgba(255, 73, 97, .1); }
  100% { border: 2px solid rgba(255, 73, 97, .75); }
}
@-moz-keyframes borderBlink {
  0%   { border: 2px solid rgba(255, 73, 97, .1); }
  100% { border: 2px solid rgba(255, 73, 97, .75);}
}
@-o-keyframes borderBlink {
  0%   { border: 2px solid rgba(255, 73, 97, .1); }
  100% { border: 2px solid rgba(255, 73, 97, .75); }
}
@keyframes {
  0%   { border: 2px solid rgba(255, 73, 97, .1); }
  100% { border: 2px solid rgba(255, 73, 97, .75); }
}
*/


#marker { 
	position:relative;
	height:25px;
	width:25px;
	background:url(../images/icon-marker.png) no-repeat 50% 0%;
	background-size:auto 100%;
	
	}


/* Header Syle ##############################*/

header, .header {
	position:relative;
	background:#fff;
}
header .navbar-fixed-top {
	-webkit-transition: all 0.2s ease-out 0.1s;
    -moz-transition: all 0.2s ease-out  0.1s;
    -o-transition: all 0.2s ease-out  0.1s;
    transition: all 0.2s ease-out  0.1s;
}


.brand-container {
	position:relative;
}
.brand-container .navbar-brand, .brand-container .logo-part {
	float:left;
	position:relative;
}
.navbar-brand { margin-right:0.5em; float:left; }

.navbar-brand img {
	-webkit-transition: all 0.2s ease-out 0.1s;
    -moz-transition: all 0.2s ease-out  0.1s;
    -o-transition: all 0.2s ease-out  0.1s;
    transition: all 0.2s ease-out  0.1s;
}
.nav-item {
	position:relative;
	display:inline-block;
}

.brand-container .logo-part {
	list-style:none;
	margin:15px 0 0 0;
	padding:0;
}
.logo-part li {
	margin:0; padding:0;
}
.logo-part li.helpline-number { font-size:16px; line-height:20px;}
.logo-part li.helpline-mail {font-size:13px; font-weight:300; line-height:13px;}
.helpline-number img, .helpline-mail img {
	display:inline-block;
	margin-right:5px;
}

.logo-part li a { color: #004D82; text-decoration:none;}
.logo-part li a:hover {color:#2aa7df; }

/* Shrink nav style ####################### */

header .nav-shrink {
	background-color:#fff;
	padding-top:5px;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
	
	-webkit-transition: all 0.2s ease-out 0.1s;
    -moz-transition: all 0.2s ease-out  0.1s;
    -o-transition: all 0.2s ease-out  0.1s;
    transition: all 0.2s ease-out  0.1s;
}
header .nav-shrink .navbar-brand img {width:125px;}
header .nav-shrink .logo-part{
	margin-top:5px;
}

/* Content block Syle ##############################*/


.content-block {
	position:relative;
	padding-top:100px;
	min-height:100%;
}
.align-center{
	text-align: center;
}
.logo-holder {
	text-align: center;
	padding-top: 150px;
}
.left-column {
	position:relative;
	height:500px;
	background:url(../images/physician_02.png);
	background-position:0% 100%;
	background-repeat:no-repeat;
}
	@media (max-width: 480px) {
	  .left-column {
		 background-size: 240px auto, cover;
		 background-position:50% 100%;
	  }
	}

.registration-formHolder { 
    background-color: #fff;
    padding: 30px 40px 60px;
    margin: 0 0px 60px;
	border-radius: 8px 8px 8px 8px;
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
	
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
}
.registration-formHolder label {
	font-size:14px;
	margin-bottom:5px;
	color:#212529;
}
label.required-note {color:#666;}
label.required-note span{color:#ff6666; padding:0 3px;}

.input-group-addon:not(:last-child) {
    border-right: 0;
}
.input-group .form-control:not(:last-child), .input-group-addon:not(:last-child), .input-group-btn:not(:first-child) > .btn-group:not(:last-child) > .btn, .input-group-btn:not(:first-child) > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:not(:last-child) > .btn, .input-group-btn:not(:last-child) > .btn-group > .btn, .input-group-btn:not(:last-child) > .dropdown-toggle {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.input-group-addon {
    padding: .5rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    color: #464a4c;
    text-align: center;
    background-color: #eceeef;
    border: 1px solid rgba(0,0,0,.15);
        border-right-color: rgba(0, 0, 0, 0.15);
        border-right-style: solid;
        border-right-width: 1px;
    border-radius: .25rem;
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
}
.input-group-addon, .input-group-btn {
    white-space: nowrap;
    vertical-align: middle;
}
.input-group .form-control, .input-group-addon, .input-group-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.col-form-label {
}
.btn-otp {
	padding-left:5px;
	padding-right:5px;
}
.required-icon {
	position:relative;
	color:#ff6666;
}
.intro-text { 
	font-family: Georgia, serif;
	text-shadow:1px 1px 0 rgba(255,255,255, 1);
}
/*
.intro-text:before {
  content: '\201C';
  margin-right: 0px;
  margin-left: 0px;
  font-size:50px;
  line-height:30px;   
}

.intro-text:after {
  content: '\201D';
  margin-left: 4px;
  margin-right: -8px;
  font-size:50px;
} */
.intro-text span{ font-family: 'Roboto', sans-serif; font-size:35px; color:#004D82; }

/* Login Syle ##############################*/

.login-panel {	
	position: relative;
	padding: 30px 75px;
	border-radius: 8px;
	background-color: rgba(255,255,255,0.25);
	box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.5);
}
.login-panel h1, .login-panel h2, .login-panel h3 { margin:0 0 15px 0; padding: 0;color: #fff;}
.login-button { width: 150px; text-transform: uppercase; font-size:18px;}
.input-holder {
	list-style: none;
	margin: 0; padding: 0;
	font-size: 20px;
}
.input-holder li {
	position: relative;
	float:left;
	margin-bottom: 15px;
}
.text-small { font-size: 12px;}
.text-small a { color: #88ad37;}

.partition {
	height: 0px;
	margin: 10px 0;
	border-top:2px solid rgba(0,0,0,0.5);
	border-bottom:1px solid rgba(255,255,255,0.5);
}
.icon-holder {
	position: relative;
	list-style: none;
	margin: 10px auto;
	padding: 0;
}
.icon-holder li {
	position: relative;
	display: inline-block;
	padding:5px;
}
.disclaimer {
	padding: 25px;
	font-size: 13px;
	color: rgba(255,255,255,0.20);
	line-height: 13px;
}


/* Card Styles */



/* patient-priority */
.emergency, .normal { }
.emergency::before{
  content: "Emergency";
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 94.4 42.28'%3e%3ctitle%3eAsset 1ldpi%3c/title%3e%3cg id='Layer_2' data-name='Layer 2'%3e%3cg id='Layer_1-2' data-name='Layer 1'%3e%3cpolygon points='94.4 42.28 47.2 35.79 0 42.28 0 0 94.4 0 94.4 42.28' style='fill:%23f04c63'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
  background-size:cover;
  background-position:0% 100%;
  color: #fff;
  position:absolute;
  top:0px;
  right:20px;
  padding:5px;
  text-align:center;
  color:#fff;
  height:35px;
  width:100px;
  font-size:13px;
  font-weight:500;
  text-transform:uppercase;
}
.normal::before {
  content: "Normal";
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 94.4 42.28'%3e%3ctitle%3eAsset 3ldpi%3c/title%3e%3cg id='Layer_2' data-name='Layer 2'%3e%3cg id='Layer_1-2' data-name='Layer 1'%3e%3cpolygon points='94.4 42.28 47.2 35.79 0 42.28 0 0 94.4 0 94.4 42.28' style='fill:%234ebd8e'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
  background-size:cover;
  background-position:0% 100%;
  color: #fff;
  position:absolute;
  top:0px;
  right:25px;
  padding:5px;
  text-align:center;
  color:#fff;
  height:40px;
  width:100px;
  font-size:13px;
  font-weight:500;
  text-transform:uppercase;
}
.card-small.emergency::before, .card-small.normal::before {
  height:25px;
  width:80px;
  padding:3px;
  font-size:11px;
  font-weight:500;
}


.dropdown-menu {
    position: absolute;
	top:0px;
}

/* patient list style */
.list-text {
	position:relative;
	padding:0 0 0 15px;	
}
.card-small .list-text {
	margin-top:15px; 
	margin-bottom:0px;
}
.card-small .card-footer{
	padding-top:10px;
	padding-bottom:10px;
}
.list-text label {
	font-weight:500;
	padding-right:5px;
	color:#004d82;
	margin:0px;
}
.list-text li {
	line-height: 1.7;
}
 
.center, .retail {
	display:inline-block;
	padding:0px;
	line-height: inherit;
	font-weight:500;
	/*-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;*/
	position:relative;

}
.center {color:#089fff;}
.retail {color:#cc33cc;}
/*
.center::before, .retail::before {
	content:'\25B6';
	line-height: 1.5rem;
	position:absolute;
	left:0px;
}
.center::before { color:#089fff;  }
.retail::before { color:#cc33cc;}
.card-small .center, .card-small .retail {
	padding-left:13px;
	margin-left:0px;
}
.card-small .center::before, .card-small .retail::before {
	line-height: inherit;
	font-size:.9em;
}
*/
.map {
	position:relative;
	width:100%;
	height:250px;
}

.waiting-zone {
	position:relative;
	padding:0px 5px;
}
.waiting-video, .waiting-queue {
	padding-left:30px;
	line-height:30px;
	font-weight:400;
}
.waiting-video::before {
  content: "";
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3e%3ctitle%3eicon-video%3c/title%3e%3cpath d='M50,35.78a8.15,8.15,0,1,0-8.15-8.15A8.15,8.15,0,0,0,50,35.78Zm0-13a4.89,4.89,0,1,1-4.89,4.89A4.89,4.89,0,0,1,50,22.74Z' style='fill:%23ef4c63'/%3e%3ccircle cx='27.19' cy='30.89' r='4.89' style='fill:%23ef4c63'/%3e%3cpath d='M53.54,47.1H22.6A4.89,4.89,0,0,0,17.71,52V69.53a4.89,4.89,0,0,0,4.89,4.89H53.54a4.89,4.89,0,0,0,4.89-4.89V52A4.89,4.89,0,0,0,53.54,47.1Zm-6.8,15L33.91,69.26a1.24,1.24,0,0,1-1.84-1.08V54.47a1.23,1.23,0,0,1,1.8-1.09L46.7,59.93A1.23,1.23,0,0,1,46.74,62.11Z' style='fill:%23ef4c63'/%3e%3cpath d='M93.27,37.68a1.65,1.65,0,0,0-1.54-.14L70.89,46.47A9.79,9.79,0,0,0,61.41,39H59.2A14.66,14.66,0,1,0,35.92,23.57,11.4,11.4,0,1,0,19.22,39H15.78A9.79,9.79,0,0,0,6,48.82V73.26A9.79,9.79,0,0,0,15.78,83H61.41a9.79,9.79,0,0,0,9.51-7.56l20.9,7.46A1.63,1.63,0,0,0,94,81.41V39A1.64,1.64,0,0,0,93.27,37.68ZM50,16.22A11.41,11.41,0,1,1,38.59,27.63,11.41,11.41,0,0,1,50,16.22ZM37.62,35.47A15,15,0,0,0,40.8,39H35.15A11.16,11.16,0,0,0,37.62,35.47ZM19,30.89A8.15,8.15,0,1,1,27.19,39,8.15,8.15,0,0,1,19,30.89ZM67.93,73.26a6.52,6.52,0,0,1-6.52,6.52H15.78a6.52,6.52,0,0,1-6.52-6.52V48.82a6.52,6.52,0,0,1,6.52-6.52H61.41a6.52,6.52,0,0,1,6.52,6.52Zm22.72,5.8L71.19,72.12V49.89l19.46-8.34Z' style='fill:%23ef4c63'/%3e%3c/svg%3e");
  background-size:cover;
  background-position:0% 100%;
  color: #fff;
  position:absolute;
  top:0px;
  left:0px;
  text-align:center;
  color:#fff;
  height:29px;
  width:29px;
}
.waiting-queue::before {
  content: "";
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3e%3ctitle%3eicon_queue%3c/title%3e%3cpath d='M88.19,39.09a1.68,1.68,0,0,0-1.68,1.68V76.5a1.69,1.69,0,0,1-3.37,0v-19a1.68,1.68,0,0,0-3.36,0v19a1.69,1.69,0,0,1-3.37,0V40.77a1.69,1.69,0,0,0-3.37,0V76.5a5,5,0,0,0,8.42,3.76,5,5,0,0,0,8.42-3.76V40.77A1.69,1.69,0,0,0,88.19,39.09Z' style='fill:%23ef4c63'/%3e%3cpath d='M86.12,32.5H83.84a7.17,7.17,0,0,0,4.79-6.76,7.17,7.17,0,1,0-14.34,0,7.17,7.17,0,0,0,4.79,6.76H76.8a9.27,9.27,0,0,0-9.26,9.27V61.1a1.52,1.52,0,1,0,3,0V41.77a6.24,6.24,0,0,1,6.22-6.23h9.32a6.24,6.24,0,0,1,6.22,6.23V61.1a1.52,1.52,0,0,0,3,0V41.77A9.27,9.27,0,0,0,86.12,32.5Zm-8.25-6.76a3.59,3.59,0,1,1,7.18,0,3.59,3.59,0,0,1-7.18,0Z' style='fill:%23ef4c63'/%3e%3cpath d='M56.73,39.09a1.68,1.68,0,0,0-1.68,1.68V76.5a1.69,1.69,0,0,1-3.37,0v-19a1.68,1.68,0,0,0-3.36,0v19a1.69,1.69,0,0,1-3.37,0V40.77a1.69,1.69,0,0,0-3.37,0V76.5A5,5,0,0,0,50,80.26a5,5,0,0,0,8.42-3.76V40.77A1.69,1.69,0,0,0,56.73,39.09Z' style='fill:%23ef4c63'/%3e%3cpath d='M54.66,32.5H52.38a7.17,7.17,0,0,0,4.79-6.76,7.17,7.17,0,1,0-14.34,0,7.17,7.17,0,0,0,4.79,6.76H45.34a9.27,9.27,0,0,0-9.26,9.27V61.1a1.52,1.52,0,1,0,3,0V41.77a6.24,6.24,0,0,1,6.22-6.23h9.32a6.24,6.24,0,0,1,6.22,6.23V61.1a1.52,1.52,0,1,0,3,0V41.77A9.27,9.27,0,0,0,54.66,32.5Zm-8.25-6.76a3.59,3.59,0,1,1,7.18,0,3.59,3.59,0,0,1-7.18,0Z' style='fill:%23ef4c63'/%3e%3cpath d='M25.27,39.09a1.68,1.68,0,0,0-1.68,1.68V76.5a1.69,1.69,0,0,1-3.37,0v-19a1.68,1.68,0,1,0-3.36,0v19a1.69,1.69,0,0,1-3.37,0V40.77a1.69,1.69,0,0,0-3.37,0V76.5a5,5,0,0,0,8.42,3.76A5,5,0,0,0,27,76.5V40.77A1.69,1.69,0,0,0,25.27,39.09Z' style='fill:%23ef4c63'/%3e%3cpath d='M23.2,32.5H20.92a7.17,7.17,0,0,0,4.79-6.76,7.27,7.27,0,0,0-7.17-7.29,7.27,7.27,0,0,0-7.17,7.29,7.17,7.17,0,0,0,4.79,6.76H13.88a9.27,9.27,0,0,0-9.26,9.27V61.1a1.52,1.52,0,0,0,3,0V41.77a6.24,6.24,0,0,1,6.22-6.23H23.2a6.24,6.24,0,0,1,6.22,6.23V61.1a1.52,1.52,0,1,0,3,0V41.77A9.27,9.27,0,0,0,23.2,32.5ZM15,25.74A3.7,3.7,0,0,1,18.54,22a3.7,3.7,0,0,1,3.59,3.7,3.59,3.59,0,0,1-7.18,0Z' style='fill:%23ef4c63'/%3e%3c/svg%3e");
  background-size:cover;
  background-position:0% 100%;
  color: #fff;
  position:absolute;
  top:0px;
  left:0px;
  text-align:center;
  color:#fff;
  height:29px;
  width:29px;
}






/* Footer Syle ##############################*/

footer {
  position: relative;
  width: 100%;
  /* Set the fixed height of the footer here */
  background-color: #f5f5f5;
}



